{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajout d'un métier</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button class="btn-floating btn-small waves-effect wave-light green" name="action" value="Create"><i class="material-icons">edit</i></button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('expertise_index') }}" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">list</i></a>

        </li>
    </ul>
{% endblock %}
