{% extends "AppBundle:Base:layout.html.twig" %}
{% block header %}
    {% include('AppBundle:Job:header.html.twig') %}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            {% include('AppBundle:Job:search.html.twig') %}
            {% include('AppBundle:Job:jobs.html.twig') %}
            {% include('AppBundle:Job:paginator.html.twig') %}
        </div>
    </div>
{% endblock %}