{% extends "AppBundle:Base:layout.html.twig" %}
{% block header %}
    {% include('AppBundle:Job:header.html.twig') %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% include('AppBundle:Job:jobs.html.twig') %}
        </div>
        {% include('AppBundle:Job:paginator.html.twig') %}
        <div class="center">
            <a href="{{ path('job_spontane') }}" class="btn btn-large blue">Aucune offre ne vous convient ? Envoyez-nous votre candidature spontanée !</a>
        </div>
    </div>
{% endblock %}