{% extends "AppBundle:Base:layout.html.twig" %}
{% block header %}
    {% include('AppBundle:Job:header.html.twig') %}
{% endblock %}
{% block content %}


   <p>Votre candidature a bien été prise en compte.
   Nous revenons vers vous le plus tôt possible</p>


{% endblock %}