


<h2 class="center" id="search">Rechercher</h2>
{{ form_start(form) }}
    {{ form_widget(form) }}
{#<div class="name col s12 l4">#}
    {#<div class="input-field ">#}
        {#<input placeholder="Poste" type="text" class="validate">#}
        {#<label class="active">Poste</label>#}
    {#</div>#}
{#</div>#}


{#<div class="name col s12 l4">#}
    {#<div class="input-field">#}
        {#<select multiple>#}
            {#<option value="" disabled selected>Lieux</option>#}
            {#{% for city in citys %}#}
            {#<option value="1">{{ city | raw }}</option>#}
            {#{% endfor %}#}
        {#</select>#}
        {#<label>Lieux</label>#}
    {#</div>#}
{#</div>#}

{#<div class="name col s12 l3">#}
    {#<div class="input-field">#}
        {#<select multiple>#}
            {#<option value="" disabled selected>Contrat</option>#}
            {#{% for duration in durations %}#}
                {#<option value="1">{{ duration | raw }}</option>#}
            {#{% endfor %}        </select>#}
        {#<label>Contrat</label>#}
    {#</div>#}
{#</div>#}

{#<div class="name col s12 l1">#}
    {#<a class="btn-floating btn-large blue"><i class="material-icons">search</i></a>#}
{#</div>#}


{#<div class="row"></div>#}