<h2 class="center">Notre Comparateur</h2>
<table class="striped responsive-table">
    <thead>
    <tr>
        <th>Options</th>
        {% for i in 1..3 %}
            <th>Solution {{ i }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <th>Option {{ row }}</th>
            {% for col in 1..3 %}
                {% if col == 1 %}
                    <th class="blue-text"><i class="fa fa-check" aria-hidden="true"></i></th>
                {% elseif col == 2 %}
                    <th class="red-text"><i class="fa fa-times" aria-hidden="true"></i></th>
                {% else %}
                    <th class="grey-text">En option</th>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>