<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Sourcink{% endblock %}</title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"  media="screen,projection"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
{% block body %}
{% endblock %}
<script type="text/javascript" src="{{ asset('bootstrap/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
