{% extends '::layout.html.twig' %}
{% block header %}
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Espace Candidat</a>
        </div>
    </nav>
    <br />
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if error.message is defined %}
                <div>
                    <p class="red-text">{{ error.message }}</p>
                </div>
            {% endif %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
