<h2 class="center" id="category">Nos Solutions</h2>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="http://placehold.it/500x500">
                    <span class="card-title">Classique</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Lien</a>
                </div>
            </div>
        </div>

    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="http://placehold.it/500x500">
                <span class="card-title">Premium</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">Lien</a>
            </div>
        </div>
    </div>
