<div class="hide-on-med-and-down">
    <h2 class="center" id="expertise">NOTRE EXPERTISE METIERS</h2>
    <div class="row center">
        <p>
            Sourcink est une agence spécialisée dans la recherche, l’identification et l’approche de collaborateurs et fonctions supports pour les cabinets d’avocats et les directions juridiques, fiscales et RH des entreprises et organismes professionnels, sur tout le territoire national.
        </p>
        <br>
    </div>
</div>