{% extends "AppBundle:Base:layout.html.twig" %}
{% block content %}
    {% include('AppBundle:Home:video.html.twig') %}
    {% include('AppBundle:Home:expertise.html.twig') %}
    <div class="bg-category">
        {% include ('AppBundle:Home:expertise_mobile.html.twig') %}
        {% include('AppBundle:Home:category.html.twig') %}
    </div>
    {% include('AppBundle:Home:partner.html.twig') %}
    <div class="offers-div">
        {% include('AppBundle:Home:job.html.twig') %}
    </div>
    {% include('AppBundle:Home:team.html.twig') %}
{% endblock %}