<h2 class="center" id="team">Notre Equipe</h2>
<div class="row">

    {% for person in team %}
        <div class="col s12 offset-l2 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{{ asset('img/'~person.picture.pictureName) }}">
                    <span class="card-title">{{ person.name }}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="card-content">
                    <p>{{ person.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
