<div class="video-container video-responsive hide-on-small-only hide-on-med-only">
    <div class="slider fullscreen">
        <ul class="slides">
            <li>
                <video autoplay muted loop>
                    <source src="{{ asset('media/vid2.mp4') }}" type="video/mp4">
                </video> <!-- random image -->
                <div class="caption center-align">
                    <h2>Envie de nouveaux challenges ?</h2>
                    <h4 class="light grey-text text-lighten-3"><a href="#job">Nos dernières offres juridiques,
                                                                                fiscales & RH !</a></h4>
                </div>
            </li>
            <li>
                <video autoplay muted loop>
                    <source src="{{ asset('media/POffice-Day.mp4') }}" type="video/mp4">
                </video> <!-- random image -->
                <div class="caption left-align">
                    <h2>Qui sommes-nous ?</h2>
                    <h4 class="light grey-text text-lighten-3"><a href="#category">Des recruteurs spécialisés sur les
                            fonctions juridiques, fiscales et RH
                            Faites appel à Sourcink pour vos recrutements ! Faites appel à Sourcink pour vos recrutements !
                            Découvrez nos solutions et tarifs </a></h4>
                </div>
            </li>
        </ul>
    </div>
</div>
