<div class="video-container video-responsive hide-on-small-only hide-on-med-only">
    <div class="slider fullscreen">
        <ul class="slides">
{% for video in videos %}

            <li>
                <video autoplay muted loop>
                    <source src="{{ asset('img/'~video.picture.pictureName) }}" type="video/mp4">
                </video> <!-- random image -->
                <div class="caption center-align">
                    <h2><a href="#job">{{ video.title }}</a></h2>
                    <h4 class="light grey-text text-lighten-3">{{ video.text }}</h4>

                </div>
            </li>

            {% endfor %}

        </ul>
    </div>
</div>
