{% extends "base.html.twig" %}

{% block body %}
    <div class="card-panel">
        <h1 class="">Bienvenue dans l'espace d'administration de Sourcink !</h1>
        <p>Vous êtes connecté en temps que {{ app.user.firstname }} {{ app.user.lastname }}</p>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}

