{% extends "base.html.twig" %}

{% block body %}
    <div class="card-panel">
        <h1 class="">Bienvenue dans l'espace d'administration de Sourcink !</h1>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}

