<h2 class="center" id="category">Nos Solutions</h2>
<div class="row">
    {% for i in 1..2 %}
        <div class="col s12 m6 center">
            <img class="circle" src="{{ asset('img/box-large.svg') }}">
            <p class="red-text">Solutions</p>
            <p>Ne passez pas à côté du meilleur profil !<br>
                En plus du dépôt d’annonce sur les sites
                généralistes et spécialisés et du travail de tri sur
                CVthèques, Sourcink approfondit ses recherches sur les réseaux
                sociaux professionnels.</p>
        </div>
    {% endfor %}
</div>