<h2 class="center" id="category">Nos Solutions</h2>
<div class="row">
    {% for i in 1..2 %}
        <div class="col s12 m6 center">
            <img class="circle" src="{{ asset('img/box-large.svg') }}">
            <p class="red-text">Nom de la solution</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum massa a lacus fringilla ornare. Quisque vulputate rhoncus metus a luctus. Donec tincidunt malesuada sem et ornare. Sed sit amet pulvinar turpis. Mauris aliquet sed massa at pharetra. Donec eleifend ligula lorem, eu efficitur ante varius quis. Praesent lacinia eleifend lorem quis imperdiet.</p>
        </div>
    {% endfor %}
</div>