<h2 class="center" id="category">Nos Solutions</h2>
<div class="row">
    {% for i in 1..2 %}
        <div class="col s12 m6 center">
            <img class="circle" src="{{ asset('img/box-large.svg') }}">

            <p class="red-text">Nom de la solution</p>
        </div>
    {% endfor %}
</div>