<h2 class="center" id="expertise">Notre Expertise</h2>
<div class="row">
    {% for i in 1..3 %}
        <div class="col s12 m4 center">
            <img class="circle" src="{{ asset('img/homePicBleu.svg') }}">
            <p class="red-text">Titre de l'expertise</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum massa a lacus fringilla ornare. Quisque vulputate rhoncus metus a luctus. Donec tincidunt malesuada sem et ornare. Sed sit amet pulvinar turpis. Mauris aliquet sed massa at pharetra. Donec eleifend ligula lorem, eu efficitur ante varius quis. Praesent lacinia eleifend lorem quis imperdiet.</p>
        </div>
    {% endfor %}
</div>