<h2 class="center" id="expertise">Notre Expertise</h2>
{% for i in 1..3 %}
    <div class="col s12 m4 center">
        <img class="circle" src="{{ asset('img/homePicBleu.svg') }}">
        <p class="red-text">Card Title</p>
        <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
    </div>
{% endfor %}