<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Sourc'ink</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#expertise">Notre Expertise</a></li>
            <li><a href="#categories">Nos Solutions</a></li>
            <li><a href="#jobs">Nos Offres</a></li>
            <li><a href="#team">Notre Equipe</a></li>
        </ul>
    </div>
</nav>