<h2 class="center" id="job">Nos Offres</h2>
<div class="row">
    {% for i in 1..3 %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">add</i></span>
                    <p class="grey-text">Lieux de l'offre</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="col s12">
    <div class="center">
        <a class="waves-effect waves-light btn red" href="{{ path('si_app_job') }}">Plus d'offres..</a>
    </div>
</div>