<h2 class="center" id="job">Nos Offres</h2>
<div class="row">
    {% for i in 1..3 %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">add</i></span>
                    <p class="grey-text">Lieux de l'offre</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>HLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam lacus ut tortor facilisis sodales. In ultricies, magna in sagittis luctus, lacus augue dapibus felis, vitae scelerisque elit tortor quis massa. Nulla facilisi. Etiam sit amet mi sed augue accumsan congue vitae sed ipsum. Phasellus ex ex, ultrices vel velit in, pellentesque malesuada nibh. In nec euismod quam. Nunc non magna viverra, interdum felis eget, condimentum ex. Donec eget justo euismod, cursus dui vel, placerat quam. Sed eget urna lectus. Fusce porttitor turpis eros, nec efficitur quam euismod non. Donec sed purus metus. Donec ac malesuada lectus, et tempor augue.

                        Nunc at lobortis magna, ac interdum felis. In sodales scelerisque mi eget dictum. Pellentesque aliquam congue eros, vel sodales est mattis ac. Quisque tempus, dui id vulputate consequat, felis massa malesuada felis, vitae sagittis mauris ligula sit amet felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris nec est purus. Nam dui orci, luctus quis nulla in, egestas ullamcorper tellus. Nam dictum nibh magna, et finibus ipsum elementum eget. Nullam eu dapibus nisi. Vestibulum id mollis elit, at convallis elit.

                        Suspendisse consectetur egestas tellus, eu hendrerit justo fringilla a. Duis ut fermentum urna. Donec lectus neque, finibus varius imperdiet sit amet, elementum at sapien. In ac scelerisque mauris, in aliquet velit. Nam varius ultrices orci, sed ullamcorper turpis volutpat vel. Nam porttitor aliquam erat, et aliquet arcu cursus id. Cras dapibus purus tincidunt aliquam convallis. Ut malesuada elementum libero, a eleifend leo tempor ac. Pellentesque feugiat, mauris id mattis lobortis, velit purus mollis enim, id ornare mi lorem et sem. Curabitur aliquet ligula ut pulvinar aliquet. Mauris rhoncus eros eu mauris pharetra hendrerit. Maecenas rutrum vulputate pharetra.</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="col s12">
    <div class="center">
        <a class="waves-effect waves-light btn red" href="{{ path('si_app_job') }}">Plus d'offres..</a>
    </div>
</div>