<h2 class="center" id="job">Nos Offres</h2>
<div class="row">
    {% for i in 1..3 %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Juriste Droit des Sociétés H/F<i
                                class="material-icons right">add</i></span>
                    <p class="grey-text">Chartres (28)</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Juriste Droit des Sociétés H/F<i class="material-icons right">close</i></span>
                    <p>Juriste Droit des Sociétés H/F, spécialisé dans les PME et les Start Up, pour notre bureau de Chartres (28)<br>

                        Au sein d'une équipe à taille humaine, vous réalisez les missions suivantes :<br>

                        + Assurer le conseil ponctuel<br>
                        - Accompagner le chef d'entreprise dans ces démarches juridiques<br>
                        - Comprendre et analyser les projets d'un client et lui proposer le meilleur conseil<br>
                        - Respecter les délai du projet<br>

                        + Assurer la réassurance des collaborateurs<br>
                        - Capacité à travailler en collaboration avec les autres intervenants internes du projet<br>
                        - Valider des schémas juridiques, économiques et fiscaux<br>
                        - Rester en veille sur l'actualité juridique<br>

                        + Développer l'activité du service juridique<br>
                        - Assurer la promotion des différents service du Cerfrance Alliance Centre<br>
                        - Contribuer à la dynamique commerciale<br>
                        - Favoriser les prescriptions internes<br>


                        Idéalement issu d'une formation Bac+5, type Master 2 en droit des affaires/droit des contrats, vous possédez une première expérience réussie acquise en cabinet d'expertise comptable ou d'avocats sur ce type de clientèle.<br>

                        Sous l'impulsion d'une politique de formation forte, au-delà du minimum légal, nous vous proposons de construire votre carrière au sein d'une entreprise dynamique et attentive à la qualité de vie des ses collaborateurs au travail.</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="col s12">
    <div class="center">
        <a class="waves-effect waves-light btn red" href="{{ path('si_app_job') }}">Plus d'offres..</a>
    </div>
</div>