<div class="col s12 m6 offset-m3">
    {% for i in 1..2 %}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="http://placehold.it/500x500">
                    <span class="card-title">Prénom Nom</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="card-content">
                    <p>Description</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>