<h2 class="center" id="team">Notre Equipe</h2>
<div class="row">
    {% for i in 1..2 %}
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="http://placehold.it/500x500">
                    <span class="card-title">Prénom Nom</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum massa a lacus fringilla ornare. Quisque vulputate rhoncus metus a luctus. Donec tincidunt malesuada sem et ornare. Sed sit amet pulvinar turpis. Mauris aliquet sed massa at pharetra. Donec eleifend ligula lorem, eu efficitur ante varius quis. Praesent lacinia eleifend lorem quis imperdiet.</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <p>
                    Sourcink est née de la réflexion commune de Justine Cordey et d’Arnaud Lavisse. La complémentarité de leurs compétences et leur volonté commune de s’investir dans un projet innovant les a encouragés dans leur désir d’entrepreneuriat.
                    <br />
                    Le recrutement a évolué, internet est devenu la source incontournable de profils qualifiés mais le panel de CVs qui s’y cache est tellement vaste que trouver le bon relève du challenge ! D’abord parce que sourcer prend beaucoup de temps – temps que les responsables de service ou les responsables RH préféreront consacrer aux tâches à forte valeur ajoutée, telles que la rencontre physique avec les potentiels candidats. Ensuite, parce qu’il est déterminant d’avoir les bons outils et d’être réactif pour ne pas passer à côté des meilleurs talents.
                    <br />
                    Conscients des problématiques de recrutement de niche, ils ont décidé d’allier leurs forces pour offrir aux professionnels du droit, de la fiscalité et des RH une solution de recrutement innovante, alternative aux cabinets de recrutement dont les facturations sont parfois excessives et opaques.
                </p>
            </div>
        </div>
    </div>
</div>
