<!-- ajout video-->
<div class="slider">
    <video preload="auto" autoplay="autoplay" loop="loop">
        <source src="{{ asset('media/PPOffice-Day.mp4') }}" type="video/mp4">
    </video>
</div>
<!-- ajout video-->


