<footer class="page-footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="grey-text text-lighten-2">Contact</h5>
                <p class="grey-text text-lighten-4"><a href="tel:{{ telephone }}">{{ telephone }}</a></p>
                <p class="grey-text text-lighten-4"><a href="mailto:{{ email }}">{{ email }}</a></p>
                <br/>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="grey-text text-lighten-2">Plan du Site</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#expertise">Notre Expertise</a></li><br />
                    <li><a class="grey-text text-lighten-3" href="#categories">Nos Solutions</a></li><br />
                    <li><a class="grey-text text-lighten-3" href="#jobs">Nos Offres</a></li><br />
                    <li><a class="grey-text text-lighten-3" href="#team">Notre Equipe</a></li><br />
                </ul>
            </div>
            <div class="center col s12">
                <a href="https://www.facebook.com/agence.sourcink" target=_blank class="col s2 offset-s1 white-text"><span class="fa fa-facebook fa-2x"></span></a>
                <a href="https://twitter.com/Sourcink" target=_blank class="col s2 white-text"><span class="fa fa-twitter fa-2x"></span></a>
                <a href="https://plus.google.com/+Sourcink?hl=fr" class="col s2 white-text"><span class="fa fa-google-plus fa-2x"></span></a>
                <a href="http://fr.viadeo.com/fr/company/sourcink" class="col s2 white-text"><span class="fa fa-viadeo fa-2x"></span></a>
                <a href="https://www.linkedin.com/company-beta/5059711/" target=_blank class="col s2 white-text"><span class="fa fa-linkedin fa-2x"></span></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row center">
                <div class="col s12 m4">
                    <p class="center"><a href="#modalcgv">C.G.V.</a></p>

                    <!-- Modal Structure -->
                    <div id="modalcgv" class="modal">
                        <div class="modal-content black-text">
                            <h4>Conditions générales de vente</h4>
                            <p style="text-align:left ">
                                La Société Sourcink est une SARL au capital de 15 000 euros, ayant son siège social au
                                19 Boulevard Alexandre Martin 45000 ORLEANS, immatriculée au Registre du commerce et des
                                sociétés de ORLEANS sous le numéro 799 433 214, représentée par ses gérants, Monsieur
                                Arnaud LAVISSE, et Madame Justine CORDEY.
                                La société Sourcink est une agence de sourcing spécialisée dans le recrutement
                                juridique, fiscal et RH. Elle offre des prestations d’externalisation de recrutement à
                                destination de services de ressources humaines d’entreprises, et plus généralement de
                                toute entreprise ou travailleur indépendant souhaitant recruter un salarié. La Société
                                Sourcink est spécialisée dans la recherche de candidats sur internet, l’approche directe
                                et le démarchage de profils professionnels, l’aide de prise de décision des recruteurs,
                                la sélection des candidats et l’organisation de sessions de recrutement.
                                Les prestations de Sourcink permettent au Client de réduire ses coûts de recrutement,
                                tout en lui offrant une facilité de gestion, un gain de temps et une visibilité optimale
                                par des candidats potentiels via des solutions mises à sa disposition par la Société
                                Sourcink.
                                <br><br>
                                Article 1. Applicabilité – Opposabilité
                                <br><br>
                                Les présentes conditions générales de vente s’appliquent à tous les Clients de la
                                Société Sourcink qui, en sollicitant ses services, les acceptent sans réserves.
                                Toute condition contraire opposée par le Client sera donc, à défaut d’acceptation
                                expresse, inopposable à la Société Sourcink, quel que soit le moment où elle aura pu
                                être portée à sa connaissance.
                                Le fait que la Société Sourcink ne se prévale pas à un moment donné de l’une quelconque
                                des présentes conditions générales ne peut être interprété comme valant renonciation à
                                se prévaloir ultérieurement de l’une quelconque desdites conditions.
                                <br><br>
                                Article 2. Objet
                                <br><br>
                                Les présentes conditions générales de vente ont pour objet de définir les modalités et
                                conditions dans lesquelles la Société Sourcink fournit au Client des solutions
                                d’externalisation de ressources humaines en répondant à des besoins spécifiques, et
                                d’autre part, les conditions dans lesquelles le Client accède à ces différentes
                                prestations.
                                Elles ont également pour objet de définir les différentes prestations proposées par
                                Sourcink et pouvant être retenues par le Client.
                                <br><br>
                                Article 3. Prestations proposées par Sourcink
                                <br><br>
                                3.1. Les solutions
                                <br><br>
                                3.1.1. Solution Small
                                <br><br>
                                La Solution Small consiste à procéder, pour le compte du Client, à la recherche d’un
                                candidat au proﬁl « simple » dont la spécialité est modérée. Cette solution constitue
                                principalement un gain de temps pour le Client. Elle se compose des prestations
                                suivantes :
                                – Identification des besoins du Client et établissement de la fiche de poste ;–
                                Optimisation et rédaction de l’annonce ;
                                – Diffusion de l’annonce sur plusieurs sites généralistes et spécialisés en fonction du
                                profil recherché ;
                                – Tri des retours et présélection des profils correspondants ;
                                – Validation par téléphone de la disponibilité et de la motivation des candidats
                                sélectionnés ;
                                – Envoi des meilleurs CVs au Client ;
                                – Traitement de la correspondance des candidats non retenus dans un souci du respect des
                                candidats et de préservation de l’image du Client et de la société Sourcink.
                                <br><br>
                                3.1.2. Solution Medium
                                <br><br>
                                La Solution Medium est destinée aux entreprises souhaitant recruter un candidat au
                                profil plus complexe et/ou plus rare. Cette solution recouvre les prestations de la
                                Solution Small avec les éléments suivants en sus :
                                – Recherche du profil sur les CVthèques généralistes et spécialisées du marché.
                                <br><br>
                                3.1.3. Solution Large
                                <br><br>
                                Il s’agit de la solution la plus complète dans laquelle Sourcink prend les dispositions
                                les plus étendues, nécessaires à la diffusion et à la sélection du candidat adéquat.
                                Elle ajoute aux prestations de la solution Medium la prestation suivante :
                                <br><br>
                                – Recherche du profil sur les réseaux sociaux professionnels.
                                <br><br>
                                Après avoir pris connaissance des différents services dont il pouvait bénéficier, le
                                Client pourra prendre conseil auprès de Sourcink par téléphone au 01 70 71 89 19 ou par
                                courriel à l’adresse contact@sourcink.com pour l’étude du profil à recruter.
                                <br><br>
                                3.1.4. Solution au succès
                                <br><br>
                                L’Agence Sourcink peut proposer à ses clients de façon exceptionnelle une prestation
                                dite « au succès ». On entend par succès la signature effective de la promesse
                                d’embauche par le candidat présenté au Client par Sourcink.
                                <br><br>
                                3.2. Les options
                                <br><br>
                                Le Client dispose, accessoirement à la Solution choisie, de la possibilité de souscrire
                                à l’une ou à plusieurs des options suivantes :
                                <br><br>
                                – Vérification des références des candidats ;

                                – Entretien par webcam ;

                                – Test de langue.
                                <br><br>
                                Les options ne peuvent être choisies qu’en complément d’une des solutions proposées par
                                la Société Sourcink.
                                <br><br>
                                3.3. Aménagements
                                <br><br>
                                A tout moment pendant la durée de la prestation, le Client aura la possibilité, par
                                l’établissement d’un bon de commande supplémentaire, de passer à une Solution de la
                                gamme supérieure ou de souscrire à des options en sus.

                                Sauf accord écrit contraire, ces aménagements n’auront pas d’effet sur la durée de la
                                prestation initiale.
                                <br><br>
                                Article 4. Durée
                                <br><br>
                                Les prestations telles que prévues par les points 3.1.1, 3.1.2 et 3.1.3 sont conclues
                                pour une durée de 30 jours à compter de la date de réception par la Société Sourcink du
                                cahier des charges dûment validé par le Client.
                                <br><br>
                                Article 5. Modalités d’exécution des prestations
                                <br><br>
                                5.1 Dispositions générales
                                <br><br>
                                5.1.1 Bon de commande
                                <br><br>
                                Le Client devra renvoyer le bon de commande fourni par la Société Sourcink par courriel
                                à l’adresse contact@sourcink.com.

                                Pour être valable et pris en compte par Sourcink, le bon de commande devra clairement
                                faire mention de la Solution et des options souhaitées le cas échéant.

                                Toute prestation sollicitée par le Client par un bon de commande est due. Aucune
                                rétractation n’est possible après l’envoi du bon de commande signé par le client.
                                <br><br>
                                5.1.2 Cahier des charges
                                <br><br>
                                Dans les meilleurs délais, le Client devra renvoyer le cahier des charges dûment
                                complété fourni au préalable par Sourcink. Le cahier des charges devra contenir tous les
                                renseignements nécessaires à l’établissement de la fiche de poste du candidat recherché.
                                Il constitue la base de travail des prestations de la Société Sourcink.

                                Lorsque le Client mandate la Société Sourcink sur la recherche d’un profil très
                                spécialisé, il devra lui fournir toutes les informations et/ou les critères objectifs de
                                sélection permettant l’optimisation des recherches (formation, diplômes, logiciels à
                                maîtriser, durée d’expérience souhaité, etc.) et, le cas échéant, le niveau de
                                l’exigence de ces critères (recommandés, exigés ou éliminatoires).

                                Les critères objectifs s’entendent des exigences strictement professionnelles du
                                candidat en rapport avec le poste à pourvoir.

                                La Société Sourcink exclut la prise en compte de toute forme d’exigence purement
                                personnelle et/ou discriminatoire et notamment celles relatives aux critères physiques,
                                sexuels ou raciaux.

                                Une réflexion stratégique sur chaque profil recherché par le Client sera menée afin de
                                déterminer un angle de diffusion des annonces et une politique de prise de contact en
                                fonction des informations recueillies.
                                <br><br>
                                5.1.3 Anonymat
                                <br><br>
                                Le Client pourra demander, sur simple précision dans le cahier des charges, à conserver
                                l’anonymat de l’entreprise. Le cas échéant et en concertation avec le Client, les
                                parties conviendront des mentions devant figurer sur l’annonce à diffuser.
                                <br><br>
                                5.2 Conditions de mise en ligne des documents Client

                                Les parties devront ensemble convenir de la rédaction du contenu de l’annonce à diffuser
                                sur les sites appropriés dans les plus brefs délais.

                                La rédaction de l’annonce est à la charge de la Société Sourcink quelle que soit la
                                Solution choisie par le Client conformément à l’article 2.

                                Néanmoins, lorsque le Client souhaite la simple transposition de la fiche de poste et/ou
                                de l’annonce qu’il a préalablement rédigée(s) par ses propres moyens, la diffusion sera
                                subordonnée à validation de Sourcink dans une volonté d’optimisation de ladite annonce
                                avec pour critères majeurs :

                                – un bon niveau de rédaction et d’information ;

                                – une orthographe et une grammaire irréprochables ;

                                – des visuels qualitatifs du logo du Client le cas échéant.

                                La Société Sourcink se réserve le droit d’opérer à des modifications et/ou ajustements
                                complémentaires afin d’optimiser la visibilité et l’attractivité de l’annonce. Le cas
                                échéant, elle soumettra ces modifications à l’approbation du Client avant toute
                                diffusion publique de ladite annonce.
                                <br><br>
                                Article 6. Obligations de Sourcink
                                <br><br>
                                La Société Sourcink s’engage à mettre à disposition du Client les solutions adaptées et
                                les services associés pour répondre au mieux aux attentes de son cocontractant.

                                Elle s’engage à la mise en œuvre de tous les moyens qu’elle détient pour proposer les
                                candidats adéquats répondant aux critères objectifs de recherche définis par le Client
                                dans le cahier des charges.

                                Par ailleurs, la Société Sourcink s’engage à mettre en œuvre tout moyen technique, pour
                                maintenir l’intégrité, la sécurité, la confidentialité des données du Client.
                                <br><br>
                                Article 7. Obligations du Client
                                <br><br>
                                Le Client assure avoir pris connaissance, préalablement à l’envoi du bon de commande,
                                des modalités et du contenu des prestations proposées.

                                Le Client s’engage à fournir dans les meilleurs délais les informations et/ou documents
                                nécessaires à la Société Sourcink pour réaliser les prestations commandées.

                                Le Client s’engage à n’utiliser les informations concernant les solutions mises à sa
                                disposition que pour ses besoins propres ou ceux de sa structure contractante et pour
                                les seules finalités visées par les présentes.

                                Le Client s’engage à ne pas développer ou commercialiser les solutions et prestations
                                fournies par la Société Soucink et susceptibles de le concurrencer.

                                Le Client s’engage à se rendre disponible dans les meilleurs délais pour contribuer au
                                bon déroulement des prestations. Il devra tenir la Société Sourcink informée de son avis
                                sur les profils proposés et des suites qu’il entend donner aux candidats rencontrés par
                                son intermédiaire.
                                <br><br>
                                Article 8. Propriété intellectuelle
                                <br><br>
                                Lorsqu’il s’agit d’une simple mise en ligne d’une annonce de poste fournie et rédigée
                                par le Client, ce dernier reste titulaire des droits de propriété intellectuelle.

                                Lorsque la Société Sourcink opère une rédaction, une mise en page ou prend en charge, de
                                quelque manière que ce soit, la rédaction d’une fiche de poste et/ou d’annonce, elle
                                demeure, à l’exclusion de tous logos, noms d’enseigne ou marques déposées, titulaire des
                                droits de propriété intellectuelle sur les documents qu’elle a rédigés aux fins de mise
                                en ligne.

                                Sauf opposition par écrit du Client, la Société Sourcink se réserve le droit d’utiliser
                                les noms et logos de l’enseigne du Client dans une rubrique référençant les entreprises
                                ayant sollicité la Société Sourcink.
                                <br><br>
                                Article 9. Traitement des données du Client
                                <br><br>
                                Les parties s’engagent, s’agissant de la collecte et/ou du traitement et de la
                                communication relative à des données à caractère personnel, à respecter la
                                réglementation légale applicable au traitement desdites données et notamment à respecter
                                les dispositions de la loi n° 2004-801 du 6 août 2004 relative à la protection des
                                personnes physiques à l’égard des traitements de données à caractère personnel et
                                modifiant la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et
                                aux libertés.

                                A ce titre, le Client conserve à sa charge les déclarations auprès de la Commission
                                nationale des l’Informatique et des Libertés (CNIL) afférentes aux traitements de
                                données à caractère personnel qu’il met en œuvre.
                                <br><br>
                                Article 10. Conditions financières
                                <br><br>
                                10.1. Prix des prestations
                                <br><br>
                                En contrepartie des différentes prestations de services assurées par la Société
                                Sourcink, le Client s’engage à respecter les conditions financières suivantes.

                                Le montant des prestations se compose d’un prix forfaitaire correspondant au choix de la
                                Solution et, le cas échéant du montant des options choisies par le Client.

                                Le montant forfaitaire s’entend par poste recherché.

                                Par ailleurs, le montant forfaitaire est identique quelle que soit la longueur de
                                l’annonce de poste, le temps passé par Sourcink à la recherche du profil recherché (dans
                                la limite de la durée du mandat) ou le nombre de candidatures reçues.

                                Plusieurs tarifications existent selon la Solution choisie par le Client :

                                Solution Small : 3 000 Euros Hors Taxes

                                Solution Medium : 4 000 Euros Hors Taxes

                                Solution Large : 5 000 Euros Hors Taxes

                                Options : Le prix des options diffère selon les cas et sera communiqué sur demande du
                                Client.

                                Solution au succès : pourcentage de la rémunération brute annuelle du recruté ; le taux
                                appliqué sera défini entre Sourcink et le Client en fonction du profil recherché.
                                <br><br>
                                10.2. Facturation
                                <br><br>
                                Dans les meilleurs délais après réception du bon de commande, la Société Sourcink
                                transmettra par courriel ou courrier au Client la facture correspondant aux prestations
                                souscrites.

                                Le Client devra procéder au paiement de la facture dans les 30 jours suivant la
                                réception de celle-ci (sauf mention contraire sur la facture).

                                Sauf convention contraire entre les parties, aucune facilité de paiement et aucun
                                échelonnement ne sera consenti au Client.

                                La Société Sourcink se réserve le droit de solliciter un acompte si les circonstances le
                                nécessitent.

                                Les prestations supplémentaires éventuellement sollicitées par le Client après la
                                signature du contrat initial feront l’objet d’une facture séparée.
                                <br><br>
                                10.3. Modalités de paiement
                                <br><br>
                                Les modes de règlement sont les suivants :

                                – par virement bancaire via les coordonnées bancaires figurant sur la facture ;

                                – par chèque à l’ordre de « SARL Sourcink » adressé au siège social avec copie de la
                                facture.

                                Les parties conviennent qu’en cas de non-respect des conditions financières, la Société
                                Sourcink pourra suspendre, après mise en demeure restée infructueuse dans un délai de 5
                                jours, les services à l’égard du Client, sans préjudice de toute résiliation s’il y a
                                lieu.
                                <br><br>
                                Article 11. Garanties et Responsabilité
                                <br><br>
                                11.1. Dispositions générales
                                <br><br>
                                Le Société Sourcink garantit qu’elle dispose de tous les droits de propriété
                                intellectuelle lui permettant de fournir les prestations proposées.

                                Le Client, quant à lui, garantit qu’il dispose de tous les droits de propriété
                                intellectuelle sur les documents, informations et images fournis à la Société Sourcink.

                                La Société Sourcink est tenue à une obligation de moyens couplée à une obligation de
                                fournir au minimum 5 profils qualifiés et motivés par rapport à la recherche sous 30
                                jours.

                                Les parties conviennent expressément que la Société Sourcink ne pourra être tenue
                                responsable des interruptions de services ou des dommages liés :

                                – à un cas de force majeure ou à une décision des autorités ;

                                – à une interruption de la fourniture de l’électricité ou des lignes de transmissions
                                due aux opérateurs publics ou privés ;

                                – à une utilisation anormale ou frauduleuse par le Client ou des tiers nécessitant
                                l’arrêt du service pour des raisons de sécurité ;

                                – à une intrusion ou à un maintien frauduleux d’un tiers dans le système, ou à
                                l’extraction illicite de données, malgré la mise en œuvre des moyens de sécurisation
                                conformes aux données actuelles de la technique, la société Sourcink ne supportant
                                qu’une obligation de moyen au regard des techniques connues de sécurisation ;

                                – à la nature et au contenu des informations et données créées et/ou communiquées par le
                                Client ; plus généralement, la Société Sourcink ne peut en aucun cas être responsable à
                                raison des données, informations, résultats ou analyses provenant d’un tiers, transmises
                                ou reçues au travers de l’utilisation des solutions logicielles hébergées mises à
                                disposition du Client ;

                                – à un retard dans l’acheminement des informations et données, lorsque la Société
                                Sourcink n’est pas à l’origine de ce retard ;

                                – au fonctionnement du réseau internet ou des réseaux téléphoniques ou câblés d’accès à
                                internet non mis en œuvre par Sourcink ;

                                – au fonctionnement des sites de recherche d’emploi sur lesquels une annonce a été
                                diffusée pour un Client.

                                La Société Sourcink ne saurait être tenue responsable des dommages indirects ou ne
                                résultant pas directement et exclusivement d’une défaillance de ses services.
                                <br><br>
                                11.2. Candidatures proposées
                                <br><br>
                                La Société Sourcink procèdera, dans le cadre de ses prestations, au contrôle préalable
                                de la cohérence du profil et du CV de chaque candidat proposé au Client avec le poste
                                défini dans le cahier des charges.

                                Dans le cadre du choix par le Client de l’option « vérification des références candidat
                                », cette sécurité sera accrue.

                                Néanmoins, la Société Sourcink ne saurait être tenue responsable de la véracité des
                                informations fournies par le candidat, de la production de faux ou de l’usage de faux
                                documents utilisés dans le cadre des informations fournies spontanément ou sollicitées
                                par Sourcink.
                                <br><br>
                                Article 12. Résiliation
                                <br><br>
                                La résiliation unilatérale pourra être prononcée par l’une des parties en cas de
                                manquement grave de l’autre partie d’une quelconque des obligations mises à sa charge.

                                Sauf justifications transmises au préalable à la Société Sourcink, l’absence de retour
                                du Client d’une durée égale ou supérieure à 20 jours suivant l’envoi de candidatures ou
                                sollicitations d’informations complémentaires par Sourcink entraîne de plein droit
                                résiliation du contrat en cours.
                                <br><br>
                                Article 13. Incessibilité
                                <br><br>
                                Il est expressément convenu que les prestations choisies et issues des présentes
                                conditions générales de vente ne pourront être cédées à un tiers par le Client, sauf
                                accord préalable et écrit de la Société Sourcink.
                                <br><br>
                                Article 14. Confidentialité
                                <br><br>
                                Dans le cadre de la mise en œuvre des prestations et au cours de celles-ci, chaque
                                partie s’engage à considérer comme confidentiels, et à ne pas reproduire ou divulguer,
                                autrement que pour les seuls besoins d’exécution des présentes, les informations et
                                documents remis par l’autre partie et qui, à raison de leur contenu technique,
                                commercial, financier ou personnel devraient être tenus pour confidentiels.
                                <br><br>
                                Article 15. Indivisibilité
                                <br><br>
                                Les présentes conditions générales de vente représentent la totalité et l’intégralité de
                                l’entente intervenue entre les parties.

                                Elles ne pourront être modifiées que par un avenant convenu d’un commun accord.
                                <br><br>
                                Article 16. Loi applicable et tribunal compétent
                                <br><br>
                                POUR TOUTES CONTROVERSES QUI SURVIENDRAIENT EN RELATION AVEC L’APPLICATION DES
                                PRESENTES, LES PARTIES S’ENGAGENT A REGLER LEURS DIFFERENDS A L’AMIABLE.

                                A DEFAUT D’ACCORD, LE TRIBUNAL D’ORLEANS EST REPUTE EXCLUSIVEMENT COMPETENT POUR ETRE
                                SAISI D’EVENTUELS LITIGES, ETANT EXPRESSEMENT ENTENDU QUE LA LOI APPLICABLE AUX
                                RELATIONS CONTRACTUELLES ENTRE LES PARTIES EST LA LOI FRANÇAISE.
                                <br><br>
                                Article 17. Election de domicile
                                <br><br>
                                Les parties élisent domicile à leur siège social figurant sur le bon de commande sauf
                                dérogation expresse précisée par écrit.</p>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">J'accèpte</a>
                        </div>
                    </div>
                    <!-- Modal Structure -->
                    <div id="modalml" class="modal">
                        <div class="modal-content black-text">
                            <h4>Mentions légales</h4>
                            <p style="text-align:left ">
                                Propriété du site
                                <br><br>
                                Le présent site est la propriété de Sourcink.
                                <br><br>
                                Sourcink est représenté par ses associés dirigeants principaux Arnaud Lavisse et Justine
                                Cordey.
                                Son siège social se trouve au 19 bd Alexandre Martin 45000 Orléans.
                                <br><br>
                                Téléphone : +33 (0)1 70 71 89 19 – Email : contact@sourcink.com
                                <br><br>
                                Le responsable de la publication du présent site est Justine Cordey.
                                <br><br>
                                Le présent site est hébergé par la société OVH : www.ovh.com.
                                <br><br>
                                Droits et devoirs de l’utilisateur
                                <br><br>
                                L’utilisateur du présent site reconnaît disposer de la compétence des moyens nécessaires
                                pour accéder à ce site, l’utiliser et avoir vérifié que la configuration informatique
                                utilisée ne contient aucun virus et qu’elle est en parfait état de fonctionnement. En
                                conformité avec les dispositions de la loi du 06/01/1978 relative à l’Informatique, aux
                                fichiers et aux libertés, le traitement automatisé de données nominatives réalisé à
                                partir de ce site web suivent les recommandations de la Commission Nationale de
                                l’Informatique et des Libertés (CNIL).
                                Déclaration à la CNIL de Sourcink : N° 1732497.
                                L’utilisateur est notamment informé conformément à cette loi que les informations qu’il
                                communique par le biais des formulaires du site sont nécessaires pour répondre à sa
                                demande et sont destinées à Sourcink, responsable du traitement. L’utilisateur est
                                informé qu’il dispose d’un droit d’accès et de rectification portant sur les données le
                                concernant auprès de Sourcink, 19, Boulevard Alexandre Martin, 45 000 Orléans.
                                L’utilisateur est informé que lors de ses visites sur le site, un cookie peut
                                s’installer automatiquement sur son logiciel de navigation. Le cookie est un bloc de
                                données qui ne permet pas de l’identifier mais qui sert à enregistrer des informations
                                relatives à la navigation de celui-ci sur le site.
                                Utilisation des données du site
                                <br><br>
                                Les utilisateurs du présent site sont tenus de respecter les dispositions de la loi
                                relative à l’Informatique, aux fichiers et aux libertés, dont la violation est passible
                                de sanctions pénales. Ils doivent notamment s’abstenir, s’agissant des informations
                                nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée,
                                et d’une manière générale, de tout acte susceptible de porter atteinte à la vie privée
                                ou à la réputation des personnes.
                                La structure générale, ainsi que les logiciels, textes, images animées ou non son savoir
                                faire, et tous autres éléments composants le site sont la propriété exclusive de
                                Sourcink.
                                Toute représentation totale ou partielle de ce site par quelque procédé que ce soit,
                                sans l’autorisation expresse de Sourcink est interdite et constituerait une contrefaçon
                                sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
                                Il en est de même des bases de données figurant sur le site web, qui sont protégées par
                                les dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la
                                propriété intellectuelle de la directive européenne du 11 mars 1996 relative à la
                                protection juridique des bases de données.
                                La marque Sourcink et son logo ainsi que les marques et logos figurant sur le site sont
                                des marques déposées ou sont la propriété de ses partenaires.
                                Toute reproduction totale ou partielle de ces marques ou de ces logos, effectuée à
                                partir des éléments du site sans l’autorisation expresse de Sourcink est donc prohibée,
                                au sens de l’article L.713-2 du Code de la propriété intellectuelle.</p>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">J'accèpte</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <p class="center"><a href="#modalml">Mentions Légales</a></p>
                </div>
                <div class="col s12 m4">
                    <p class="center">Wild Code School Orléans</p>
                </div>
            </div>
        </div>
    </div>


</footer>