<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="{{ path('app_homepage') }}" class="brand-logo">
                <img src="{{ asset('media/logoSourcInk.svg') }}">
            </a>
            <p class="slogan center hide-on-med-and-down">
                L'agence de sourcing spécialisée en recrutement juridique, fiscal et RH
            </p>
            <a href="{{ path('app_homepage') }}" class="right red white-text applicant-button waves-effect z-depth-1">Retour à l'accueil</a>
        </div>
    </nav>
</div>