{% extends "AppBundle:Base:layout.html.twig" %}
{% block header %}
    {% include('AppBundle:Applicant:header.html.twig') %}
{% endblock %}
{% block content %}
    <div class="container">
        <form id="parseResumeForm">
            <div class="file-field input-field">
                <div class="btn blue">
                    <span>CV</span>
                    <input type="file" id="parseResumeFile">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
                <button class="btn-large red right" id="parseResumeButton">Envoyer</button>
            </div>
        </form>
        {{ form(form) }}
        <a href="#modalDelete" class="btn btn-flat red-text right">Supprimer mon compte</a>
    </div>
    <div id="modalDelete" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Supprimer mon profil</h4>
            <p>Etes-vous sûr de vouloir supprimer votre compte Sourcink ?</p>
        </div>
        <div class="modal-footer">
            <a href="{{ path('applicant_delete') }}" class="modal-action modal-close btn-flat red-text">Oui</a>
            <a href="#!" class="modal-action modal-close btn-flat blue-text">Non</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
        $('#parseResumeButton').on('click',function(e){
            event.preventDefault();
            var resume = $('#parseResumeFile').val();
            var formData = new FormData();
            formData.append('resume', $('input[type=file]')[0].files[0]);
            $.ajax({
                url: '/ajax/resume/parse',
                type: 'POST',
                dataType: 'json',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response){
                    var resume = JSON.parse(response.data);
                    $('#fos_user_registration_form_firstname').val(resume.first_name);
                    $('#fos_user_registration_form_lastname').val(resume.last_name);
                    $('#fos_user_registration_form_email').val(resume.emails.primary);
                    $('#fos_user_registration_form_title').val(resume.title);
                    $('#fos_user_registration_form_experience').val(resume.experience);
                    $('#fos_user_registration_form_salary').val(resume.salary);
                    $('#fos_user_registration_form_salary').val(resume.current_pay);
                    $('#fos_user_registration_form_wantedSalary').val(resume.desired_pay);
                    $('#fos_user_registration_form_phone').val(resume.phone);
                },
                error: function() {
                }
            });
        });
    </script>
{% endblock %}