{% extends '::layout.html.twig' %}
{% block header %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path('app_homepage') }}" class="brand-logo">
                    <img src="{{ asset('media/logoSourcInk.svg') }}">
                </a>
                <p class="slogan center hide-on-med-and-down">
                    L'agence de sourcing spécialisée en recrutement juridique, fiscal et RH
                </p>
                <a href="{{ path('app_homepage') }}" class="right red white-text applicant-button waves-effect z-depth-1">Retour à l'accueil</a>
            </div>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if error.message is defined %}
                <div>
                    <p class="red-text">{{ error.message }}</p>
                </div>
            {% endif %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
