<p>Bonjour {{ app.user.firstname }},</p>

<p>
    Nous avons bien reçu votre candidature pour le poste de {{ title }} et vous en remercions.<br />
    Un conseiller est susceptible de revenir vers vous pour échanger plus amplement sur votre profil et le poste à pourvoir. Si nous ne revenons pas vers vous dans les trois semaines à venir, merci de bien vouloir considérer que votre candidature n'aura pas été retenue.
    <br />
    <br />
    Nous conserverons alors vos informations personnelles et ne manquerons pas de revenir vers vous si une opportunité correspondant mieux à votre profil se présente. Vous pouvez à tout moment modifier vos informations personnelles ou votre CV en vous connectant à votre espace candidat.
    <br />
    <br />
    N’hésitez pas non plus à suivre notre page entreprise pour connaitre nos opportunités en temps réel : https://www.linkedin.com/company/sourcink
</p>

<p>
    Bien cordialement,
    <br />
    Agence Sourcink
</p>