<p>Bonjour {{ app.user.firstname }},</p>

<p>
    Nous avons bien reçu votre CV et vous en remercions.<br />
    L'Equipe Sourcink va étudier votre CV et reviendra vers vous si une opportunité correspondant à votre profil et votre recherche se présente prochainement pour l'un de nos clients.<br />
    Vous pouvez à tout moment modifier vos informations personnelles ou votre CV en vous connectant à votre espace candidat.
    <br />
    <br />
    N’hésitez pas non plus à suivre notre page entreprise pour connaitre nos opportunités en temps réel : https://www.linkedin.com/company/sourcink
</p>

<p>
    Bien cordialement,
    Agence Sourcink
</p>
