body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    padding-left: 1%;
    background-color: white;
    height: 100px;
}

nav ul a {
    color: black;
    padding-top: 20px;

}

nav a {
    height: 100px;
}

nav p {
    font-size: 10px;
    color: black;
}

nav p {
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
}

.page-footer {
    background-color: rgba(0, 161, 192, 1);
}

.brand-logo {
    margin: 10px;
}

h2 {
    margin: 50px 0 50px 0;
}

.team-about {
    border-left: 1px solid #e0e0e0;
    margin-top: 10%;
}

li {
    display: inline-block;
}

/* slider videos */

.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: -60px;
    height: 16px;
    width: 16px;
    margin: 0 12px;
    background-color: #e0e0e0;
    transition: background-color .3s;
    border-radius: 50%;
}

video {
    position: absolute;
    right: 0;
    bottom: 71px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.video-responsive {
    max-height: 100%;
    width: 100%;
}

@-moz-document url-prefix() {
    .video-container {
        padding-top: 720px;
        width: 100%;
    }
}

.slider .slides {
    background-color: #ffffff;
    margin: 0;
    height: 232px;
    width: 100%;
    filter: grayscale(1);
}

.slider .indicators .indicator-item.active {
    background-color: #EF2844;
}

a h3 {
    font-size: 60px;
    padding-top: 20px;
}

a h5 {
    font-size: 40px;
}

/*Slider Vidéos*/

/*Expertise*/
.metier {
    border-right: black solid;
}

.img {
    max-width: 250px;
    max-height: 250px;
}

/*Expertise*/

/*Job Page*/
.job_title {
    text-align: center;
}

.job_detail {
    font-size: 20px;
    /*display: flex;
    justify-content: flex-start;*/
}

/*Page Job*/
.postuler {
    margin-top: 50px;
    margin-bottom: 50px;
}