.offres {
    visibility : hidden;
}
.card-offres{
    height:180px;
    border-radius: 15px 0 15px 0;
}
.card-offres:hover .offres {
    visibility:visible;

}

.color, .btn.offres  {
    background-color: rgba(127, 126, 139, 0.37);
    border-radius: 15px 0 15px 0;
}


/* Bounce To Right */
.hvr-bounce-to-right {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /*box-shadow: 0 0 1px white;*/
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    height:180px;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(231, 49, 72, 0.5);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 15px 0 15px 0;

}

.hvr-bounce-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    color: white;
}
/* Bounce To Right */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
}

main {
    flex: 1 0 auto;
}

nav {
    padding-left: 1%;
    background-color: white;
    height: 100px;
}

a {
    color : white;
}
nav ul a {
    color: black;
    padding-top: 20px;

}

nav a {
    height: 100px;
}

nav p {
    font-size: 10px;
    color: black;
}

nav p {
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
}

.page-footer {
    background-color: rgba(0, 161, 192, 1);
}

.brand-logo {
    margin: 10px;
}

h2 {
    margin: 50px 0 50px 0;
}

.team-about {
    border-left: 1px solid #e0e0e0;
    margin-top: 10%;
}

li {
    display: inline-block;
}

/* slider videos */

.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: -60px;
    height: 16px;
    width: 16px;
    margin: 0 12px;
    background-color: #e0e0e0;
    transition: background-color .3s;
    border-radius: 50%;
}

video {
    position: absolute;
    right: 0;
    bottom: 71px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.video-responsive {
    max-height: 100%;
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

@-moz-document url-prefix() {
    .video-container {
        padding-top: 720px;
        width: 100%;
    }
}

.slider .slides {
    background-color: #ffffff;
    margin: 0;
    height: 232px;
    width: 100%;

}

.slider .indicators .indicator-item.active {
    background-color: #EF2844;
}

a h3 {
    font-size: 60px;
    padding-top: 20px;
}

a h5 {
    font-size: 40px;
}

/*Slider Vidéos*/

/*Expertise*/
.metier {
    border-right: black solid;
}

/*Overlay offres*/


.img {
    max-width: 250px;
    max-height: 250px;
}


/*Expertise*/

/*Job Page*/
.job_title {
    text-align: center;
}

.job_detail {
    font-size: 20px;
    /*display: flex;
    justify-content: flex-start;*/
}

/*Page Job*/
.postuler {
    margin-top: 50px;
    margin-bottom: 50px;
}

.applicant-button {
    margin-top: 15%;
}