hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(178, 178, 178, 0.25), rgba(178, 178, 178, 1), rgba(178, 178, 178, 0.25));
}

/* Css Video */

video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 3s;
    opacity: 0.7;
}
/* Css Video */

/* On masque l'image de fond d'origine
header {
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}*/