{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
    <a href="/connect/linkedin"> <img src="{{ asset('img/Sign-In-Small---Default.png') }}"></a>
{% endblock fos_user_content %}


