{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="card-panel">
        <p>{{ 'security.confirmed.text'|trans }}</p>
        <a href="{{ path('si_app_applicant') }}" class="btn-large blue">{{ 'security.confirmed.button'|trans }}</a>
    </div>

{% endblock fos_user_content %}
