<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="{{ asset('img/logoSourceInk4.svg') }}"</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#products">Nos Produits</a></li>
                <li><a href="#comparator">Notre Comparateur</a></li>
            </ul>
        </div>
    </nav>
</div>