<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Sourc'ink</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#products">Nos Produits</a></li>
            <li><a href="#comparator">Notre Comparateur</a></li>
        </ul>
    </div>
</nav>
