<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="{{ asset('img/logoSourceInk4.svg') }}"</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('si_app_homepage') }}"><i class="fa fa-home small" aria-hidden="true"></i></a></li>
            <li><a href="#">Espace Candidat</a></li>
        </ul>
    </div>
</nav>
