{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout vidéo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('header_index') }}" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">list</i></a>
        </li>
    </ul>
{% endblock %}
