{% extends "AppBundle:Base:layout.html.twig" %}
{% block header %}
    {% include('AppBundle:Base:header.html.twig') %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% include('AppBundle:CategoryPage:product.html.twig') %}
        </div>
        {% if category.title == 'Sourcink' %}
            <div class="row">
                {% include('AppBundle:CategoryPage:comparator.html.twig') %}
            </div>
        {% endif %}
    </div>
{% endblock %}