{% extends "::layout.html.twig" %}
{% block header %}
    {% include('AppBundle:Base:header.html.twig') %}
{% endblock %}


{% block content %}
    {% if category.isPremium == '1' %}
        <div class="bg">
            <div class="container">
                <div class="row">
                    {% include('AppBundle:CategoryPage:product.html.twig') %}
                </div>
            </div>
        </div>

    {% elseif category.isPremium == '0' %}
        <div class="container">
            <div class="row">
                {% include('AppBundle:CategoryPage:product.html.twig') %}
            </div>
            <div class="row">
                {% include('AppBundle:CategoryPage:comparator.html.twig') %}
            </div>
        </div>
    {% endif %}


{% endblock %}

    {% block footer %}
        {% if category.isPremium == '1' %}
            {% include('AppBundle:Base:footer_premium.html.twig') %}
        {% else %}
            {% include('AppBundle:Base:footer.html.twig') %}
        {% endif %}
    {% endblock %}

