{% extends "::layout.html.twig" %}
{% block header %}
    {% include('AppBundle:Base:header.html.twig') %}
    {% if category.isPremium == true %}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/premium.css') }}"  media="screen,projection"/>
{% endif %}
{% endblock %}


{% block content %}
    {% if category.isPremium == true %}
        <div class="bg">
            <div class="container">
                <div class="row">
                    {% include('AppBundle:CategoryPage:product.html.twig') %}
                </div>
            </div>
        </div>

    {% elseif category.isPremium == false %}
        <div class="container">
            <div class="row">
                {% include('AppBundle:CategoryPage:product.html.twig') %}
            </div>
            <div class="row">
                {% include('AppBundle:CategoryPage:comparator.html.twig') %}
            </div>
        </div>
    {% endif %}


{% endblock %}

    {% block footer %}
            {% include('AppBundle:Base:footer.html.twig') %}
    {% endblock %}

