<h2 class="center">COMPAREZ NOS SOLUTIONS</h2>
<table class="striped responsive-table">
    <thead>
    <tr>
        <th>Options</th>
        {% for product in category.products %}
            <th>{{ product.title }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>