<h2 class="center">COMPAREZ NOS SOLUTIONS</h2>
<table class="striped responsive-table">
    <thead>
    <tr>
        <th>Options</th>
        {% for product in category.products %}
            <th>{{ product.title }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
{#    {% for productOptions in comparator.productOptions %}
        {% for i in 0 .. countProductOptions %}
            {% if productOptions[loop.index] is defined %}
                <tr>
                    <th>{{ productOptions[loop.index].benefit }}</th>
                    #}{#                {% if product.title == 1 %}
                                        <th class="blue-text"><i class="fa fa-check" aria-hidden="true"></i></th>
                                    {% elseif product.title == 2 %}
                                        <th class="red-text"><i class="fa fa-times" aria-hidden="true"></i></th>
                                    {% else %}
                                        <th class="grey-text">En option</th>
                                    {% endif %}#}{#
                </tr>
            {% endif %}

        {% endfor %}
    {% endfor %}#}
    </tbody>
</table>