<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('si_app_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('si_app_category') }}">Catégories</a></li>
        </ul>
    </div>
</nav>
